<footer class="public-footer-container">
  <div class="public-footer-title">
    <h1>the apidura mission</h1>
    <div class="public-footer-title-description">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate,
        magni pariatur ! Reiciendis quia ad perspiciatis impedit natus id iste quibusdam,
        obcaecati nemo earum,
      </p>
      <p>alias illum consequatur molestias mollitia modi exercitationem ! </p>
    </div>
  </div>
  <div class="public-footer-info-section">
    <ul class="public-footer-info-list">
      <li class="public-footer-info-block">
        <p class="public-footer-bloc-info-title">about us</p>
        <p class="block-info-menu-item">concept</p>
        <p class="block-info-menu-item">company</p>
        <p class="block-info-menu-item">materials & design</p>
        <p class="block-info-menu-item">carears</p>
      </li>
      <li class="public-footer-info-block">
        <p class="public-footer-bloc-info-title">insperation</p>
        <p class="block-info-menu-item">ambasadors</p>
        <p class="block-info-menu-item">adventures</p>
        <p class="block-info-menu-item">special features</p>
      </li>
      <li class="public-footer-info-block">
        <p class="public-footer-bloc-info-title">shop</p>
        <p class="block-info-menu-item">front packs</p>
        <p class="block-info-menu-item">rear packs</p>
        <p class="block-info-menu-item">frame packs</p>
        <p class="block-info-menu-item">accessories</p>
      </li>
      <li class="public-footer-info-block">
        <p class="public-footer-bloc-info-title">contact us</p>
        <p class="block-info-menu-item">shippimg</p>
        <p class="block-info-menu-item">customer service</p>
        <p class="block-info-menu-item">dealers</p>
        <p class="block-info-menu-item">athlete sponsorship</p>
        <p class="block-info-menu-item">warrantly and returns</p>
      </li>
      <li class="public-footer-info-block">
        <div class="public-footer-logo">
          <div class="social-element"><a href="https://www.facebook.com/" target="_blank"
              class="masking-element facebook"></a></div>
          <div class="social-element"><a href="https://www.instagram.com/" target="_blank"
              class="masking-element instagram"></a></div>
          <div class="social-element"><a href="https://www.flickr.com/" target="_blank"
              class="masking-element flickr"></a></div>
          <div class="social-element"><a href="https://twitter.com/" target="_blank"
              class="masking-element twitter"></a></div>
        </div>
      </li>
    </ul>
  </div>
  <div class="privacy-policy-wrapper">
    <ul class="privacy-content-wrapper">
      <li class="privacy-content-item">
        <p class="privacy-content copyright">
          Lorem, ipsum dolor.
        </p>
      </li>
      <li class="privacy-content-item">
        <p class="privacy-content">Lorem ipsum dolor sit amet. </p>
      </li>
      <li class="privacy-content-item">
        <p class="privacy-content">Lorem ipsum dolor sit. </p>
      </li>
    </ul>
  </div>
</footer>