<header class="public-header">
  <nav class="public-header-navigation">
    <ul class="public-header-navigation_list">
      <li class="public-header-navigation_item">
        <a [routerLink]="['/']" routerLinkActive="navigation-link-active" class="link-navigation">home</a>
      </li>
      <li class="public-header-navigation_item">
        <a [routerLink]="['/member']" routerLinkActive="navigation-link-active" class="link-navigation">member</a>
      </li>
      <li class="public-header-navigation_item">
        <a [routerLink]="['/page3']" routerLinkActive="navigation-link-active" class="link-navigation">page3</a>
      </li>
    </ul>

    <div class="login-process-button-wrapper">
      <a *ngIf="!userAuthData; else userLoggedTemplate;" (click)="login();" class="login-process-button">
        login
      </a>
      <ng-template #userLoggedTemplate>
        <evh-profile-menu [userData]="userAuthData"></evh-profile-menu>
      </ng-template>

    </div>
  </nav>
</header>